<div class='scoreboard <%= "lobby" if @game.lobby %>'>
  <h1>TradeMarked Word Tile Game</h1>

  <% @game.players.each do |player| %>
    <section class='player-info' data-send-to-path='<%= game_send_to_path(@game) %>'>
      <h2><%= player.name %></h2>

      <div class='letters'>
        <% player.letters.where(on_board: true, column_index: nil, row_index: nil).each do |letter| %>
          <div class='letter' data-id='<%= letter.id %>'>
            <span class='character'><%= letter.character %></span>
          </div>
        <% end %>

        <button class='send-to hand' disabled='disabled' data-target='hand'>
          Send to hand
        </button>
      </div>
    </section>
  <% end %>

  <% if !@game.lobby? %>
    <div class='word-submission'>
      <ul class='new-word-list'></ul>
      <button class='submit-words'>Submit words</button>
    </div>
  <% end %>
</div>

<div class='board' data-save-letters-path='<%= game_save_letters_path(@game) %>'>
  <table>
    <% @game.rows.each_with_index do |row, row_index| %>
      <tr>
        <% row.each_with_index do |square, column_index| %>
          <td class='square' data-row-index='<%= row_index %>' data-column-index='<%= column_index %>'>
            <% if letter = square.letter(row_index, column_index) %>
              <%= letter.character %>
            <% else %>
              <span class='bonus'><%= square.bonus if square.premium? %></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div class='lobby-overlay'>
    <div class='lobby-info'>
      <h2>Waiting for players to join</h2>

      <ul class='player-list'>
        <% @game.players.each do |player| %>
        <li><%= player.name %></li>
        <% end %>
      </ul>

      <p class='join-instructions'>
        Go to <%= root_url %> and join game #<%= @game.id %>
      </p>

      <%= button_to 'Start game', game_start_path(@game), class: 'start-game' %>
    </div>
  </div>
</div>
