<div class='scoreboard <%= "lobby" if @game.lobby %>'>
  <h1>TradeMarked Word Tile Game</h1>

  <div class='active-letters'>
    <div class='letter'>H</div>
    <div class='letter'>T</div>
    <div class='letter'>P</div>
  </div>

  <% if !@game.lobby? %>
    <button class='submit-words'>Submit words</button>
  <% end %>
</div>

<div class='board'>
  <table>
    <% @game.rows.each_with_index do |row, row_index| %>
      <tr>
        <% row.each_with_index do |square, column_index| %>
          <td class='square'>
            <span class='bonus'><%= square.bonus if square.premium? %></span>
            <%= square.letter(row_index, column_index) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div class='lobby-overlay'>
    <div class='lobby-info'>
      <h2>Waiting for players to join</h2>

      <ul class='player-list'>
        <% @game.players.each do |player| %>
        <li><%= player.name %></li>
        <% end %>
      </ul>

      <p class='join-instructions'>
        Go to <%= root_url %> and join game #<%= @game.id %>
      </p>

      <%= button_to 'Start game', game_start_path(@game), class: 'start-game' %>
    </div>
  </div>
</div>
